In [8]:
#Handling Missing Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    'Name': ['Alice', 'Bob', None, 'David'],
    'Age': [25, np.nan, 22, 28],
    'Score': [85, 90, np.nan, 88]
}
df = pd.DataFrame(data)
print("Original DataFrame:\n", df)

Original DataFrame:
     Name   Age  Score
0  Alice  25.0   85.0
1    Bob   NaN   90.0
2   None  22.0    NaN
3  David  28.0   88.0

In [ ]:
print("\nMissing values (isnull):\n", df.isnull())
print("\nNon-missing values (notnull):\n", df.notnull())

Missing values (isnull):
     Name    Age  Score
0  False  False  False
1  False   True  False
2   True  False   True
3  False  False  False

Non-missing values (notnull):
     Name    Age  Score
0   True   True   True
1   True  False   True
2  False   True  False
3   True   True   True

In [4]:
df_dropped = df.dropna()
print("\nDataFrame after dropping rows with missing values:\n", df_dropped)

DataFrame after dropping rows with missing values:
     Name   Age  Score
0  Alice  25.0   85.0
3  David  28.0   88.0

In [5]:
df['City'] = ['New York', None, 'London', None]

In [ ]:
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['Score'] = df['Score'].fillna(df['Score'].mean())

In [7]:
df['City'] = df['City'].fillna('Unknown')
print("\nDataFrame after filling missing values:\n", df)

DataFrame after filling missing values:
     Name   Age      Score      City
0  Alice  25.0  85.000000  New York
1    Bob  25.0  90.000000   Unknown
2   None  22.0  87.666667    London
3  David  28.0  88.000000   Unknown